/*Centro da pagina*/
.centro-pag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
	color: #e0f7fa;
	text-align: center;
}

#carrosel {
	width: 300px;
}